<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	
	xmlns:task="http://www.springframework.org/schema/task"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	
	<!-- Application Properties	 -->
	<context:property-placeholder location="classpath:application.properties" />

	<!-- Set the base package -->
	<context:component-scan base-package="com.example.project" />

	<!-- constant bean -->
	
	<import resource="classpath:service/kakao.xml"/>
	<import resource="classpath:service/google.xml"/>
	<import resource="classpath:service/naver.xml"/>
	<import resource="classpath:service/openAI.xml"/>
	<import resource="classpath:service/prompt.xml"/>
	<import resource="classpath:service/crawling.xml"/>
	
	<!-- setting bean -->
	<import resource="classpath:spring/mysql.xml"/>
	<import resource="classpath:spring/dao.xml"/>
	
	
	<!-- scheduler setting -->
	<!-- <task:annotation-driven scheduler="scheduler"><task:annotation-driven/>
	<task:scheduler id="scheduler" pool-size="10"/>

	<task:scheduled-tasks>
	    <task:scheduled ref="cronTest" method="test" cron="0/5 * * * * ?"/>
	</task:scheduled-tasks> -->
	
</beans>